input
{
	width: 600px;
	height: 23px;
}

button
{
	width: 100px;
	height: 30px;
	font-family: tahoma;
}

#codigo
{
	font-family: courier;
	color: #0040FF;
	font-style: oblique;
	font-size: 0.8em;
}